:root{
    --text: #010c1e;
    --background: #f5f8ff;
    --primary: #0d6ef8;
    --secondary: #8474fb;
    --accent: #7352fa;

    --text_d: #e1ecfe;
    --background_d: #00030a;
    --primary_d: #0769f2;
    --secondary_d:#14048b;
    --accent_d: #2705ad;
}