@import "colors.css";

footer {
    display: flex;
    width: 100vw;
    padding: 100px 200px 200px 200px;
    background-color: var(--background_d);
    color: var(--text_d);
    gap: 60px;
}

footer>*>.title {
    font-size: 24px;
    margin-bottom: 40px;
    color: var(--text_d);
}

footer p,
li {
    opacity: 0.6;
}

footer>.col1 {
    line-height: 28px;
    flex-basis: 25%;
}

footer>.col1>.social {
    margin: 0 auto;
    padding-left: 20px;
}

footer>.col1>.social>* {
    transform: scale(2);
    margin-right: 40px;
    margin-top: 80px;
}

footer>*>ul {
    list-style: none;
    line-height: 44px;
}

footer>.col4>ul>li {
    color: var(--text_d);
    opacity: 1 !important;
}

footer>.col4>ul>li>i {
    margin-right: 20px;
}

footer>.col4>ul>li>span {
    opacity: 0.6;
}

@media screen and (max-width: 1200px) {
    footer {
        flex-direction: column;
        padding: 40px;
    }


}