.services {
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 80px 0;
}

.services>p {
    font-size: 18px;
    color: blue;
    font-weight: bold;
    margin-bottom: 10px;
}

.services>h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 80px;
}

.services>.interface>.block {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 4);
    gap: 16px;
    place-items: center;
    width: 84vw;
    margin: 0 auto;
}

.services>.interface>.block>.card {
    background-color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-bottom: 60px;
    border-radius: 4px;
    scroll-snap-align: start;
}

.services>.interface>.block>.card>#desc {
    opacity: 0.6;
    line-height: 30px;
}

.services>.interface>.block>.card>.prof {
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

.pagi>.interface {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78vw;
    margin: auto;
    gap: 80px;
}

.pagi>.interface>.block {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 8px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 12px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.pagi>.interface>.block::-webkit-scrollbar {
    display: none;
}

.pagi>.interface>i {
    transform: scale(3, 2);
}

@media screen and (max-width: 1500px) {
    .pagi>.interface>.block {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 800px) {
    .pagi>.interface>.block {
        grid-auto-columns: 100%;
    }
}