.services {
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 80px 0;
}

.services>p {
    font-size: 18px;
    color: blue;
    font-weight: bold;
    margin-bottom: 10px;
}

.services>h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 80px;
}


.services>.block {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
}

.services>.block>.card {
    background-color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-bottom: 60px;
    max-width: 400px;
    border-radius: 4px;
    width: 320px;
}

.services>.block>.card>#desc {
    opacity: 0.6;
    line-height: 30px;
}


.services>.block>.card>.prof {
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 80px;
}

.dots >.dot {
    height: 12px;
    width: 12px;
    border: 1px solid lightgray;
    border-radius: 50%;
    background-color: gainsboro;
}

.dots > #selected{
    background-color: lightgreen;
}

.pagi > .block {
    width: 55vw;
    height: 510px;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    gap: 5%;
    overflow: hidden;
    
}


.pagi > .block > .card {
    flex: 0 0 auto;
    width: 30%;  
}