@import "colors.css";
.services {
    width: 100%;
    text-align: center;
    padding: 80px 0;
}

.services>p {
    font-size: 18px;
    color: var(--accent);
    font-weight: bold;
    margin-bottom: 10px;
}

.services>h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 80px;
    color: var(--text);
}

.services>.interface>.block {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 4);
    gap: 16px;
    place-items: center;
    width: 84vw;
    margin: 0 auto;
    color: var(--text);
}

.services>.interface>.block>.card {
    background-color: var(--background);
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-bottom: 60px;
    border-radius: 4px;
    scroll-snap-align: start;
}

.services>.interface>.block>.card>#desc {
    line-height: 30px;
}

.services>.interface>.block>.card>.prof {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: var(--text_d);
    display: grid;
    place-items: center;
}

.services>.interface>.block>.card>.prof>i{
    transform: scale(3);
    color: var(--text);
}

@media screen and (max-width: 1200px) {
    .services>.interface>.block {
        display: flex;
        flex-direction: column;
    }
}

.pagi>.interface {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78vw;
    margin: auto;
}

.pagi>.interface>.block {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 8px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 12px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.pagi>.interface>.block::-webkit-scrollbar {
    display: none;
}

.pagi > .interface > .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--text_d);
    width: 50px;
    aspect-ratio: 1/1;
    transition: all .5s ease;
}

.pagi > .interface > .arrow:hover{
    background-color: var(--secondary);
    color: var(--text_d);
}

.pagi > .interface > #arrow-right{
    position: relative;
    left: -30px;
}

.pagi > .interface > #arrow-left{
    position: relative;
    right: -30px;
}

.pagi > .interface > .arrow > i { 
    transform: scale(1.4);
}

@media screen and (max-width: 1500px) {
    .pagi>.interface{
        width: 90%;
    }
    .pagi>.interface>.block {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 800px) {
    .pagi>.interface{
        width: 100%;
    }
    .pagi>.interface>.block {
        grid-auto-columns: 100%;
    }
}