@import "colors.css";

.small_container {
    position: relative;
    width: 100vw;
    height: 30vh;
    min-height: 200px;
    background-image: url(../images/traffic.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 400px;
    overflow: hidden;
}

.small_container>.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.small_container>.content>h2 {
    color: var(--text_d);
    font-size: 40px;
}

.small_container>.content>button {
    border: none;
    height: 60px;
    width: fit-content;
    padding: 6px 28px;
    font-size: 16px;
    border-radius: 4px;
    background-color: var(--accent);
    color: var(--text_d);
}

.small_container::after {
    content: "";
    position: absolute;
    height: 500px;
    width: 1000px;
    transform: rotate(18deg);
    z-index: 2;
    top: -200;
    left: -500px;
    background-color: var(--secondary);
}


@media screen and (max-width: 1500px) {

    .small_container {
        padding-left: 0;
        text-align: center;
    }

    .small_container>.content {
        align-items: center;
    }
    .small_container::after {
        display: none;
    }
}