@import "lander.css";
@import "container.css";
@import "small_container.css";
@import "services_&_pagi.css";
@import "footer.css";

.animate {
    opacity: 0;

}

.animated {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    overflow-x: hidden;
}